.navbar{
    display: flex;
    align-items: center;
    .menu-btn{
        width: 40px;
        margin: 0px 20px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        span.line{
            background-color: black;
            height: 2px;
            width: 30px;
        }
    }
    .logo{
        width: fit-content;
        img{
            height: 70px;
        }
    }
    .search{
        width: 300px;
        border: 2px solid rgba(128, 128, 128, 0.368);
        height: 40px;
        margin-left: 20%;
        justify-content: space-between;
        display: flex;
        align-items: inherit;
        input{
            background-color: transparent;
            border: none;
            padding: 20px;
            outline: none;
        }
        .icon{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(128, 128, 128, 0.478);
        }
    }
}